.App {
  text-align: center;
}


.header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.selectbox {
  display: flex;
  text-align: left;
}

.picked {
  background-color: rgb(206, 205, 194);
}

.searchselect {
  display: flex;
  text-align: center;
}

.halfwidth {
  width: 50%;
}

.thumbcontainer {
  width: 100px;
  height: 100px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
}